.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.circle {
  position: absolute;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  /* opacity: 100%; */
}

.dot {
  position: absolute;
  background-color: black;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  z-index: 1;
}

.form form {
  display: flex;
  flex-direction: column;
  background-color: beige;
  border-radius: 0.5vh;
  padding: 1.5vh;
  margin: 1vh;
}

.form-box {
  padding: 1.5vh;
  border: 0.1vh;
  margin: 0.2vh;
  vertical-align: bottom;
  border-radius: 0.3vh;
  background-color: aliceblue;
  color: black;
  font-size: medium;
}

.form-header {
  text-align: right;
  border-bottom: black 1px solid;
  padding: 0.5vh;
  font-weight: 600;
  font-size: large;
}

.form-box::placeholder {
  color: black;
}

.button-submit {
  background-color: #00c000;
}

table {
  width: 95%;
  margin-bottom: auto;
  background-color: beige;
  border-radius: 0.5vh;
  text-align: center;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: separate;
}

.sticky-header {
  top: 0;
  position: sticky;
  background-color: beige;
}

th {
  padding: 1vh;
  font-weight: 900;
  border-bottom: 1px solid black;
}

td {
  padding: 0.75vh;
  font-weight: 500;
}

tbody tr:nth-child(odd) {
  background-color: bisque;
}

.button-delete {
  border-width: 0px;
  border-radius: 0.5vh;
  padding: 1vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  font-weight: bold;
  background-color: #ff004f;
}

.export-button {
  border-width: 0px;
  border-radius: 0.5vh;
  padding: 1vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  font-weight: bold;
  background-color: #00c000;
}

.instruction-body {
  margin-left: 1vh;
  padding-top: 0.5vh;
}

.instruction-body .keys {
  background-color: white;
  border: gray 1px solid;
  padding-left: 5px;
  padding-right: 5px;
  float: right;
}

.instruction-body .text {
  margin-right: 1vh;
}

.instruction-body div {
  padding: 0.5vh;
}

.instruction {
  background-color: beige;
  margin: 1vh;
  margin-right: 0vh;
  border-radius: 0.5vh;
  padding: 1.5vh;
  font-size: large;
}

.instruction-head {
  border-bottom: black 1px solid;
  padding: 0.5vh;
  font-weight: 600;
}

.toast {
  width: 10vh;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 0.5vh;
  padding: 1vh;
  position: absolute;
  right: 1vh;
  bottom: 1vh;
}
